
package code.lib

/**
 * @author kashima
 */
object TwitterAppSettings {
  val CONSUMER_KEY    = ""
  val CONSUMER_SECRET = ""

  val REDIRECT_URL = "http://foo.example.com:8080/user_mgt/callback"
}

